/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
    min-height: 100vh;
    padding: 20px;
} */

.nav-tabs {
    display: flex;
    gap: 20px;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    align-items: center;
    justify-content: center;
}

.tab {
    width: 387px;
    height: 119px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.tab::before{
    content: "";
    width: 161px;
    height: 161px;
    position: absolute;
    border-radius: 100%;
    filter: blur(38px);
    right: -47px;
    top: 13px;
}

.tab[data-tab="tab-El_Pomar"] {
    background: #214475
}

.tab[data-tab="tab-El_Pomar"]::before {
    background: #249fcb87
}

.tab[data-tab="tab-Mulai"] {
    background: #502C1F
}

.tab[data-tab="tab-Mulai"]::before {
    background: #c8824887
}

.tab[data-tab="tab-Levelma"] {
    background: #008241
}

.tab[data-tab="tab-Levelma"]::before {
    background: #7abb3187
}

.tab img{
    transform: scale(0.8);
    transition: transform 0.3s ease;
}

.tab:hover img{
    transform: scale(1);
}

.tab.active img {
    transform: scale(1);
}

.productsContainer .container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: -60px;
}

.productsContainer .tab-content {
    width: 100%;
    min-height: 900px;
    gap: 20px;
    padding: 100px;
    border-radius: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


.col-25 {
    flex: 0 0 35%;
}

.col-50 {
    flex: 0 0 30%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.tab-content {
    display: none;
}

.tab-content.current {
    display: flex;
}

.accordion-item {
    border: solid 0.5px rgba(255, 255, 255, 0.5);
    border-radius: 7px;
    margin-bottom: 10px;
    padding: 10px;
}

.accordion-header {
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.category-details {
    width: 80%;
    padding-left: 10px;
}

.accordion-content {
    padding-left: 80px;
    margin-top: -15px;
}

.accordion-content .product-link{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    gap: 10px;
}


.category-name {
    font-size: 25px;
    font-weight: 800;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #fff;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

.product-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image img {
    max-width: 100%;
    height: auto;
}

.buy-button {
    display: block;
    width: 197px;
    height: 45px;
    margin-top: 10px;
    padding: 10px 20px;
    background: #D62631;
    color: white;
    text-align: center;
    border-radius: 50px;
    text-decoration: none;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.buy-button:hover {
    transform: scale(0.85);
    color: white;
}

h2#product-name{
    font-weight: 800;
    font-size: 50px;
    color: #fff;
    padding: 40px 0;
}

div#product-benefits {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.info-icon {
    width: 92px;
    height: 92px;
    border: solid 2.5px #fff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.info-icon img{
    width: 40px;
}

.benefist-descrip{
    font-family: "Myriad Pro", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #fff;

}